.panel.panel-default
  .panel-heading
    Söker gastar
  .panel-body
    .legend Regatta:
    %p
      %i.fa.fa-trophy(aria-hidden='true')
      =link_to @team.race.regatta.name, @team.race.regatta
    .legend Arrangör:
    %p
      %i.fas.fa-university(aria-hidden='true')
      = @team.race.regatta.organizer.name

    = bootstrap_form_for @team do |f|
      = f.text_field :vacancies

      = f.submit "Spara", class: "btn"
