%h1 Deltagaranmälan för gastar

%p Funktionerna för gastar är inte färdigutvecklade. Tills dess får skeppare och gast göra så här:
%ol
  %li
    Du som är gast behöver ett användarkonto. Om du inte har det,
    = link_to 'registrera ett användarkonto.', new_user_registration_path
  %li
    Du som är skeppare loggar in och skapar en deltagaranmälan för dig och båten, om du inte redan gjort det. Sedan lägger du till din gast.

%p I framtiden kommer det vara möjligt för skeppare att bjuda in gastar eller så kan gastar att anmäla intresse och skepparen godkänna det.
%p Anledningen till att gasten behöver skriva in sina egna kontaktuppgiter är att lagstiftningen om personuppgifter kräver att vi informerar hur uppgifterna används och personen måste själv godkänna.
