%h1 24-timmarsseglingarna

%p Hej och välkommen till Svenska Kryssarklubbens 24-timmarsseglingar!
%p Här kan du anmäla dig till seglingarna, kolla startlistor och preliminära resultat.
%p Sidorna används av flera arrangörer.


%h2 Kontakt och frågor
%p Om du har frågor om själva seglingarna så vänder du dig till närmsta arrangör, Svenska Kryssarklubbens kretsföreningar. Du hittar kontaktuppgifter på 24-timmars.nu.
%p För tekniska frågor och felanmälan av anmälningssystemet, kontakta stefan@24-timmars.nu.
%p Personuppgiftsansvarig är ...
