%h1 Deltagaranmälan

- unless @organizers.blank?
  %p Hitta en segling att anmäla dig, båten och besättningen till.
- else 
  %p Just nu finns det inte några seglingar att anmäla sig till för ditt urval.

- for organizer in @organizers
  .panel.panel-default
    .panel-heading
      %i.fa.fa-institution(aria-hidden='true')
      =organizer.name
    .panel-body    
      %ul
      - for regatta in organizer.regattas.is_active(true)
        %li 
          %i.fa.fa-trophy(aria-hidden='true')
          = regatta.name
          %ul
            -for race in regatta.races.order(:period, :start_from)
              %li
                = link_to race_brief(race), new_team_path(:race_id => race.id)

