%h1 Arrangörer

%p
  - if has_admin_rights?
    %p Hej admin! 
    %p= link_to 'Lägg upp en ny arrangör.', new_organizer_path

%table#giona-organizers.table.table-striped.table-bordered.table-hover{:width => "100%"}
  %thead
    %tr
      %th Arrangör
      %th Kontaktperson
  %tbody
    - @organizers.each do |organizer|
      %tr{:class => cycle('even', 'odd'), :onclick => "window.location.href = '#{organizer_path(organizer)}';", :style => "cursor: pointer;"}
        %td= organizer.name
        %td= organizer.name_from 

:javascript
  $(document).ready(function() {
  $('#giona-organizers').DataTable();
  } );  
