Hej!

Du har påbörjat deltagaranmälan till #{@team.race.regatta.name} som arrangeras av #{@team.race.regatta.organizer.name}.

Om du inte gör klar anmälan direkt så kan du återkomma till den, ändra och lägga till. Du hittar den på:

=team_url(@team)

=  @team.race.regatta.confirmation
