Hej!

Det valda handikappet för #{@team.name} i #{@team.race.regatta.name}
har ändrats eller gått ut.

Du behöver logga in och välja ett nytt handikapp åt teamet här:

= link_to team_url(@team), team_url(@team)
