%p Hej!

%p En deltagaranmälan till #{@team.race.regatta.name} har skickats in
av #{@team.skipper.first_name} #{@team.skipper.last_name}.

%p Du hittar anmälan här:

= link_to team_url(@team), team_url(@team)
