  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_sb_admin_base_v2
 *= require formtastic-bootstrap
 *= require bootstrap-datetimepicker
 */

.alert {
	margin-top: 20px;
}

.error{
  color: #ff0000;
  font-weight: bold;
}

.panel {

  margin-top: 2em;

  p, ul {
  	font-size: 1em;
	  line-height: 1.25em;
  }

  ul, li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  .legend {
    font-style: italic;
  }

  .get_back {
    margin-top: 2em;
  }

  .crew_action {
    padding-left: 2em;
  }


}

.row a:hover {
	//background-color: initial;
}

p.status {
	color: red;
}

ol.notes, ol.notes li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.list-group-item, button.list-group-item {
	max-width: 500px;
}

a.btn-primary {
	color: #fff;
}

.list-group.race-select {
  max-width: 400px;
}

td {
	font-size: inherit;
}
