.formtastic .input .label {
	float: initial;
}

legend {
	font-size: 1rem;
}

.formtastic .input .inline-hints {
	margin-left: 0;
}

.formtastic .fragments-group {
	padding-left: 0;
}

.formtastic .fragments-group {
	padding-top: 2rem;
}

.formtastic .buttons, .formtastic .actions {
	padding-left: 0;
}

.formtastic .button, .formtastic .link_action {
	padding-left: 5rem;
}

.formtastic .buttons, .formtastic .actions {
	padding-bottom: 2rem;
}