.sidebar-nav.navbar-collapse
  %ul#side-menu.nav
    %li
      %a{:href => races_path}
        %i.fas.fa-edit(aria-hidden='true')
        Anmäl båt och skeppare
    - if current_user
      - if current_user.person
        %li
          %a{:href => teams_path}
            %i.fa.far.fa-copy(aria-hidden='true')
            Dina aktuella deltagaranmälningar
        %li
          %a{:href => person_path(current_user.person)}
            %i.far.fa-user.fa-fw(aria-hidden='true')
            Dina person- och kontaktuppgifter
    %li
      %a{:href => organizers_path}
        %i.fa.fa-university(aria-hidden='true')
        Arrangörer
    %li
      %a{:href => regattas_path(:is_active => true)}
        %i.fa.fa-font.fa-trophy.fa-fw(aria-hidden='true')
        Regattor
    %li
      %a{:href => boats_path}
        %i.fa.fa-ship.fa-fw(aria-hidden='true')
        Båtar
    %li
      %a{:href => people_path}
        %i.fa.fa-users.fa-fw(aria-hidden='true')
        Personer

    -if has_assistant_rights?

      %li
        %a{:href => new_person_path}
          %i.fa.fa-user-plus.fa-fw(aria-hidden='true')
          Ny person
      %li
        %a{:href => inactive_people_path}
          %i.fa.fa-user-times.fa-fw(aria-hidden='true')
          Raderade personer
      %li
        %a{:href => users_path}
          %i.fa.fa-users.fa-fw(aria-hidden='true')
          Användare
      %li
        %a{:href => inactive_users_path}
          %i.fa.fa-user-times.fa-fw(aria-hidden='true')
          Raderade användare
    %li= link_to '24-timmars.nu', 'https://24-timmars.nu/'
    %li= link_to 'sxk.se', 'https://sxk.se/'

/ /.sidebar-collapse
/ /.navbar-static-side
