.sidebar-nav.navbar-collapse
  %ul#side-menu.nav
    %li
      %a{:href => regattas_path}
        %i.fa.fa-font-awesome.fa-fw
        Regattor    
    %li
      %a{:href => people_path}
        %i.fa.fa-users.fa-fw
        Personer
    %li
      %a{:href => boats_path}
        %i.fa.fa-ship.fa-fw
        Båtar
    %li
      %a{:href => boat_classes_path}
        %i.fa.fa-ship.fa-fw
        Båttyper
    %li
      %a{:href => new_team_path}
        %i.fa.fa-file.fa-fw 
        Anmäl båt och besättning

    -if user_signed_in?
      %li
        %a{:href => people_path}
          %i.fa.fa-users.fa-fw 
          Personer
      %li
        %a{:href => new_person_path}
          %i.fa.fa-user-plus.fa-fw 
          Ny person
      %li
        %a{:href => inactive_people_path}
          %i.fa.fa-user-times.fa-fw 
          Raderade personer
      %li
        %a{:href => users_path}
          %i.fa.fa-users.fa-fw
          Användare
      %li
        %a{:href => inactive_users_path}
          %i.fa.fa-user-times.fa-fw 
          Raderade användare               
/ /.sidebar-collapse
/ /.navbar-static-side