.sidebar-nav.navbar-collapse
  %ul#side-menu.nav
    %li
      %a{:href => people_path}
        %i.fa.fa-users.fa-fw
        Personer
    -if user_signed_in?
      %li
        %a{:href => new_person_path}
          %i.fa.fa-user-plus.fa-fw 
          Ny person
      %li
        %a{:href => inactive_people_path}
          %i.fa.fa-user-times.fa-fw 
          Raderade personer
      %li
        %a{:href => users_path}
          %i.fa.fa-users.fa-fw
          Användare
      %li
        %a{:href => inactive_users_path}
          %i.fa.fa-user-times.fa-fw 
          Raderade användare               
/ /.sidebar-collapse
/ /.navbar-static-side