.sidebar-nav.navbar-collapse
  %ul#side-menu.nav
    %li
      %a{:href => races_path}
        %i.fa.fa-file-o.fa-fw(aria-hidden='true')
        Anmäl båt och skeppare
    %li
      %a{:href => teams_path}
        %i.fa.fa-files-o.fa-fw(aria-hidden='true')
        Mina deltagaranmälningar och tidigare deltagande        
    - if current_user
      - if current_user.person
        %li
          %a{:href => person_path(current_user.person)}
            %i.fa.fa-user-o.fa-fw(aria-hidden='true')
            Mina person- och kontaktuppgifter        
    %li
      %a{:href => organizers_path}
        %i.fa.fa-institution(aria-hidden='true')
        Arrangörer    
    %li
      %a{:href => regattas_path(:is_active => true)}
        %i.fa.fa-font.fa-trophy.fa-fw(aria-hidden='true')
        Regattor    
    %li
      %a{:href => boats_path}
        %i.fa.fa-ship.fa-fw(aria-hidden='true')
        Båtar
    %li
      %a{:href => people_path}
        %i.fa.fa-users.fa-fw(aria-hidden='true')
        Personer

    -if has_assistant_rights?

      %li
        %a{:href => new_person_path}
          %i.fa.fa-user-plus.fa-fw(aria-hidden='true')
          Ny person
      %li
        %a{:href => inactive_people_path}
          %i.fa.fa-user-times.fa-fw(aria-hidden='true')
          Raderade personer
      %li
        %a{:href => users_path}
          %i.fa.fa-users.fa-fw(aria-hidden='true')
          Användare
      %li
        %a{:href => inactive_users_path}
          %i.fa.fa-user-times.fa-fw(aria-hidden='true')
          Raderade användare               
/ /.sidebar-collapse
/ /.navbar-static-side